<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>
<body>
  <head>
    <div class="nav">
      <h1 class="nav__logo">Landrick</h1>
      <ul class="nav__items">
        <li class="item">
          <a href="#" class="link">Home</a>
        </li>
        <li class="item dropdown">
          <a href="#" class="link">Landing<div class="arrow"></div></a>
          <ul class="dropdown-content">
            <li class="dropdown-item">
              <a href="#" class= "dropdown-link">sass</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class= "dropdown-link">agency</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class= "dropdown-link">application</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class= "dropdown-link">studio</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class= "dropdown-link">business</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class= "dropdown-link">modern business</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class= "dropdown-link">hotel</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class= "dropdown-link">marketing</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class= "dropdown-link">enterprise</a>
            </li>
          </ul>
        </li>
        <li class="item">
          <a href="#" class="link">Page<div class="arrow"></div></a>
        </li>
        <li class="item">
          <a href="#" class="link">Docs</a>
        </li>
      </ul>
      <button class="btn-primary btn">
        <span class="text-btn">buy now</span>
      </button>
    </div>
  </head>
    <div class="section">
      <div class="section-one">
        <h3 class="text">Conduct More Customer In A Better Way</h3>
        <div class="text-sm">
          <p>Launch your campaign and benefit from our expertise on designing and managing conversion centered bootstrap4 html page</p>
        </div>
        <button class="btn btn-primary btn-1">
          <span class="text-btn btn-1">Start Free Trial</span>
        </button>
        <div>
          <img src="../images/laptop.png" alt="">
        </div>
      </div>
      <div class="section-two">
        <h3 class="text">Our Trusted Clients</h3>
        <div class="text-sm">
          <p class="content">
            Start working with<span class="highlight"> Landrick </span>that can provide everything you need to generate awareness, drive traffic, connect
          </p>
        </div>
        <div class="icon-brand">
          <img src="../images/client_1.png" alt="">
          <img src="../images/client_2.png" alt="">
          <img src="../images/client_3.png" alt="">
          <img src="../images/client_4.png" alt="">
          <img src="../images/client_5.png" alt="">
          <img src="../images/client_6.png" alt="">
        </div>
      </div>
      <div class="banner">
        <div class="banner__section">
          <div class="section-1">
            <img src="../images/user.svg" alt="" class="icon">
            <span class="image-content">
              <h3 class="content-huge">Easy To Use</h3>
              <p>Nisi aenean vulputate eleifend tellus vitae eleifend enim a Aliquam eleifend aenean elementum semper.</p>
            </span>
          </div>
          <div class="section-1">
            <img src="../images/calendar.svg" alt="" class="icon">
            <span class="image-content">
              <h3 class="content-huge">Daily Reports</h3>
              <p>Allegedly, a Latin scholar established the origin of the established text by compiling unusual word.</p>
            </span>
          </div>
          <div class="section-1">
            <img src="../images/sand-clock.svg" alt="" class="icon">
            <span class="image-content">
              <h3 class="content-huge">Real Time Zone</h3>
              <p>It seems that only fragments of the original text remain in only fragments the Lorem Ipsum texts used today.</p>
            </span>
          </div>
        </div>
      </div>
      <div class="section-third">
        <img src="../images/report.png" alt="" class="image">
        <div class="content">
          <h3 class="content-huge">Great Product Analytics With Real Problem</h3>
          <div>
            <p>
              Due to its widespread use as filler text for layouts, non-readability is of great importance: human perception is tuned to recognize certain patterns and repetitions in texts. If the distribution of letters visual impact.
            </p>
            <p>
              <i class="fas fa-check-circle success"></i>
              Digital Marketing Solutions for Tomorrow
            </p>
            <p>
             <i class="fas fa-check-circle success"></i>
              Create your own skin to match your brand
            </p>
            <a href="#" class="link">Find Out More</a>
          </div>
        </div>
      </div>
      <div class="section-third">
        <div class="content">
          <h3 class="content-huge">Get Notified About Importent Email</h3>
          <div class="text-sm text-1">
            <p>
              This prevents repetitive patterns from impairing the overall visual impression and facilitates the comparison of different typefaces. Furthermore, it is advantageous when the dummy text is relatively realistic.
            </p>
            <p>
              <i class="fas fa-check-circle success"></i>
              Digital Marketing Solutions for Tomorrow
            </p>
            <p>
             <i class="fas fa-check-circle success"></i>
              Create your own skin to match your brand
            </p>
            <a href="#" class="link">Find Out More</a>
          </div>
        </div>
        <img src="../images/app_development_SVG.1744d3c9.svg" alt="" class="image image-style">
      </div>
      <div class="section-two">
        <h3 class="text">Whats Our Clients Said About<span class="highlight-huge"> Landrick </span>Project</h3>
        <div class="text-sm">
          <p class="content">
            Start working with<span class="highlight"> Landrick </span>that can provide everything you need to generate awareness, drive traffic, connect
          </p>
        </div>
      </div>
      <div class="section-fourth"> 
        <div class="customer">
          <img src="../images/profile_1.jpg" alt="" class="thumb">
          <div class="feedback">
            <div class="arrow"></div>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p class="text-feed">"It seems that only fragments of the original text remain in the Lorem Ipsum texts used today."</p>
            <p class="text-feed"><span class="sign">- Thomas Israel </span>C.E.O</p>
          </div>
        </div>
        <div class="customer">
          <img src="../images/profile_2.jpg" alt="" class="thumb">
          <div class="feedback">
            <div class="arrow"></div>
            <div class="star">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p class="text-feed">" One disadvantage of Lorum Ipsum is that in Latin certain letters appear more frequently than others. "</p>
            <p class="text-feed"><span class="sign">- Barbara McIntosh </span>M.D</p>
          </div>
        </div>
      </div>
      <div class="section-two">
        <h3 class="text">See everything about your employee at one place.</h3>
        <div class="text-sm">
          <p class="content">
            Start working with<span class="highlight"> Landrick </span>that can provide everything you need to generate awareness, drive traffic, connect
          </p>
        </div>
        <div class="button-pre">
          <button class="btn btn-primary">
            <span class="text-btn">Get Started Now</span>
          </button>
          <button class="btn btn-trial">
            <span class="btn-content">Free Trial</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <div class="nav-footer">
      <div class="section-1">
        <span class="text">
          Landrick
          <p class="text__small">
            Start working with Landrick that can provide everything you need to generate awareness, drive traffic, connect
          </p>
        </span>
        <span class="text">
          Company
          <ul class="list">
            <li class="list__item"><div class="arrow"></div>Services</li>
            <li class="list__item"><div class="arrow"></div>Team</li>
            <li class="list__item"><div class="arrow"></div>Pricing</li>
            <li class="list__item"><div class="arrow"></div>Features</li>
            <li class="list__item"><div class="arrow"></div>FAQ</li>
            <li class="list__item"><div class="arrow"></div>Blog</li>
            <li class="list__item"><div class="arrow"></div>Login</li>
          </ul>
        </span>
        <span class="text">
          Useful Links
          <ul class="list">
            <li class="list__item"><div class="arrow"></div>Privacy Protection</li>
            <li class="list__item"><div class="arrow"></div>Safe Payments</li>
            <li class="list__item"><div class="arrow"></div>Term of Services</li>
            <li class="list__item"><div class="arrow"></div>Documentation</li>
            <li class="list__item"><div class="arrow"></div>Privacy Policy</li>
          </ul>
        </span>
        <span class="text">
          Newsletter
          <p class="text__small">
            Sign up and receive the lastest tips via email
          </p>
          <p class="text__tiny">
            Write your email <span class="asterisk">*</span>
          </p>
          <div class="email">
            <i class="fas fa-envelope fa-config"></i>
            <p class="email__text">Your email</p>
          </div>
          <button class="btn btn-primary buton">
            <span class="text-btn">Subscribe</span>
          </button>
        </span>
      </div>
      <div class="section-2">
        <p class="content">&#169; 2020Landrick.Develop by Themesbrand.</p>
        <div class="brand">
          <div class="scale-image">
            <img src="../images/american_express.png" alt="">
            <img src="../images/discover.png" alt="">
            <img src="../images/mastercard.png" alt="">
            <img src="../images/paypal.png" alt="">
            <img src="../images/visa.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>