body {
  background-color: #ffffff;
  margin: auto;
  max-width: 1200px;
}

a {
  color: #3C4858;
  text-decoration: none;
}

p {
  color: #8492A6;
  font-size: 16px;
  line-height: 26px;
}

h3 {
  color: #161C2D;
  letter-spacing: 1px;
  font-size: 40px;
  line-height: 60px;
  margin-bottom: 5px;
}